-level = 1 unless defined?(level) && level.is_a?(Fixnum)
-unless forums.blank?
  %ul{ :class => "forum_list level_#{level}" }
    -forums.each do |f|
      -if f.can_read?(@user)
        %li.forum[f]{ :class => "level_#{level}" }
          .name= link_to(cleanup(f.name), f, :class => 'forum_name', :name => domid(f))
          .description= cleanup(f.description)
          -unless f.moderators.blank?
            .moderators
              Moderato da:
              =f.moderators.collect { |i| link_to(cleanup(i.username), i) }.join(', ')
          -if f.last_post(:time).to_i > 0
            .last_post
              Ultimo messaggio:
              = "il #{f.last_post(:time).strftime('%d/%m/%Y')} alle #{f.last_post(:time).strftime('%H.%M')}"
              = "di #{link_to f.last_post(:username), f.last_post(:user)}"
          =render :partial => 'forums', :object => f.children, :locals => { :level => level + 1 }
-else
  .forum_list
    -if level == 1
      .empty
        Non ci sono forum.
-if is_adm?(@user) && level == 1
  =link_to('gestione forum', admin_forums_path)
