-t          = @opts[:theme]
-images_url = "http://www.studentibicocca.it/portale/forum/images"
#forums_list
  -unless @forums.blank?
    %table(cellspacing="0" cellpadding="0" border="0" width="100%" align="center")
      %tr
        %td{ :bgcolor => t.bordercolor }
          %table(border="0" cellspacing="1" cellpadding="6" width="100%")
            %tr
              %td(width="4%" class="header") &nbsp;
              %td(width="45%" class="header") Forum:
              %td(width="6%" class="header") Discussioni:
              %td(width="6%" class="header") Messaggi:
              %td(width="23%" class="header") Ultimo messaggio:
              %td(width="28%" class="header") Moderatori:
            -@forums.each do |f|
              %tr
                %td{ :bgcolor => t.altbg1, :align => "center", :class => "tablerow" }
                  %img{ :src => "#{images_url}/folder.gif", :alt => "forum" }
                %td{ :bgcolor => "#{t.altbg2}", :class => "tablerow c2", :onmouseover => "this.style.backgroundColor='#{t.altbg1}'; this.style.cursor='pointer';", :onmouseout => "this.style.backgroundColor='#{t.altbg2}'; this.style.cursor='auto';", :onclick => "window.location.href='#{forum_path(f)}';" }
                  =link_to cleanup(f.name), f
                  %br
                  %span= cleanup(f.description)
                %td{ :bgcolor => t.altbg1, :align => "center", :class => "tablerow" }
                  %span= f.threads
                %td{ :bgcolor => t.altbg2, :align => "center", :class => "tablerow" }
                  %span= f[:posts].to_i
                %td{ :bgcolor => t.altbg1, :class => "tablerow" }
                  %table(width="100%" cellspacing="0" cellpadding="0" border="0")
                    %tr(align="right")
                      %td(width="85%")
                        %span(class="c3")
                          -if f.last_post(:time).to_i > 0
                            = "il #{f.last_post(:time).strftime('%d/%m/%Y')} alle #{f.last_post(:time).strftime('%H.%M')}"
                            %br
                            = "di #{link_to f.last_post(:username), f.last_post(:user)}"
                %td{ :bgcolor => t.altbg2, :align => "center", :class => "tablerow" }
                  %span
                    =f.moderators.collect { |i| link_to(cleanup(i.username), i) }.join(', ')


#topics_list
  -unless @popular_topics.blank?
    .popular_topics
      %h3 Le discussioni più popolari in questo forum
      %ul
        -@popular_topics.each do |tp|
          %li
            =link_to_popular_topic(tp)

  %table(width="100%" cellspacing="0" cellpadding="0" align="center")
    %tr
      %td{ :bgcolor => t.bgcolor, :class => "post", :align => "right" }
        .new_topic_link
          =link_to "Nuova discussione", new_forum_topic_path(@forum) if @forum && @forum.can_post?(@user)

  -unless @topics.blank? && @announcements.blank?
    %table(cellspacing="0" cellpadding="0" border="0" width="100%" align="center")
      %tr
        %td{ :bgcolor => t.bordercolor }
          %table(border="0" cellspacing="1" cellpadding="6" width="100%")
            %tr
              %td(width="4%" class="header") &nbsp;
              %td(width="4%" class="header") &nbsp;
              %td(width="47%" class="header") Oggetto:
              %td(width="14%" class="header") Autore:
              %td(width="6%" class="header") Messaggi:
              %td(width="6%" class="header") Visite:
              %td(width="19%" class="header") Ultimo messaggio:
            -@announcements.each do |a|
              %tr
                %td{ :bgcolor => t.altbg2, :align => "center", :class => "tablerow" }
                  %img{ :src => "#{images_url}/smilies/exclamation.gif", :alt => "!" }
                %td{ :bgcolor => t.altbg1, :align => "center", :class => "tablerow" }
                  &nbsp;
                %td{ :bgcolor => "#{t.altbg2}", :class => "tablerow c2", :onmouseover => "this.style.backgroundColor='#{t.altbg1}'; this.style.cursor='pointer';", :onmouseout => "this.style.backgroundColor='#{t.altbg2}'; this.style.cursor='auto';", :onclick => "window.location.href='#{announcement_path(a)}';" }
                  %span.announcement
                    =link_to(cleanup(a.title), a)
                %td{ :bgcolor => t.altbg1, :class => "tablerow" }
                  =link_to(a.user.username, a.user) if a.user
                %td{ :bgcolor => t.altbg2, :align => "center", :class => "tablerow" }
                  %span -
                %td{ :bgcolor => t.altbg1, :align => "center", :class => "tablerow" }
                  %span= a.num_views
                %td{ :bgcolor => t.altbg2, :class => "tablerow" }
                  %span.c3
                    = "il #{a.time.strftime('%d/%m/%Y')} alle #{a.time.strftime('%H.%M')}"
            -@topics.each do |tp|
              %tr{ :class => tp.tags.collect(&:tag).join(' ') }
                %td{ :bgcolor => t.altbg2, :align => "center", :class => "tablerow" }
                  -if tp.locked?
                    %img{ :src => "#{images_url}/lock_folder.gif", :alt => "Closed Topic" }
                  -elsif tp.replies >= 20
                    %img{ :src => "#{images_url}/hot_folder.gif", :alt => "Hot Topic" }
                  -else
                    %img{ :src => "#{images_url}/folder.gif", :alt => "Topic" }
                %td{ :bgcolor => t.altbg1, :align => "center", :class => "tablerow" }
                  -unless tp.icon.to_s.empty?
                    %img{ :src => "http://www.studentibicocca.it/images/#{tp.icon}" }
                %td{ :bgcolor => "#{t.altbg2}", :class => "title tablerow c2" }
                  %span
                    =link_to(cleanup(tp.subject), tp)
                    -if tp.pinned?
                      %span.11px (in evidenza)
                    -if tp.replies > @opts[:tpp]
                      .page_seq
                        pagine:
                        =page_seq({ :controller => :topics, :action => :show, :id => tp.id, :first => 1, :last => tp.replies, :ipp => @opts[:tpp], :extra_links => [ :last ] })
                    -unless tp.tags.blank?
                      .tags
                        tags:
                        =tp.tags.collect(&:tag).join(', ')
                %td{ :bgcolor => t.altbg1, :class => "tablerow" }
                  =link_to(tp.user.username, tp.user) if tp.user
                %td{ :bgcolor => t.altbg2, :align => "center", :class => "tablerow" }
                  %span= tp.replies
                %td{ :bgcolor => t.altbg1, :align => "center", :class => "tablerow" }
                  %span= tp.views
                %td{ :bgcolor => t.altbg2, :class => "tablerow" }
                  %span.c3
                    = "il #{tp.last_post(:time).strftime('%d/%m/%Y')} alle #{tp.last_post(:time).strftime('%H.%M')}"
                    %br
                    = "di #{link_to tp.last_post(:username), tp.last_post(:user)}"
%table(width="100%" cellspacing="0" cellpadding="0" align="center")
  %tr
    %td{ :bgcolor => t.bgcolor, :class => "post", :align => "right" }
      .new_topic_link
        =link_to "Nuova discussione", new_forum_topic_path(@forum) if @forum && @forum.can_post?(@user)
  %tr
    %td
      %table(width="100%" align="center")
        -unless @banned_users.blank?
          %tr
            %td
              %p
                Utenti espulsi da questo forum:
                =@banned_users.collect { |u| link_to(u.username, admin_ban_path(u.ban_id)) }.join(', ')
        %tr
          %td.tablerow
            %img{ :src => "#{images_url}/folder.gif", :alt => "Topic" }
            Discussione aperta
            = '(' +  image_tag("#{images_url}/hot_folder.gif", :alt => "Hot Topic") + " più di 20 risposte)"
            %br
            %img{ :src => "#{images_url}/lock_folder.gif", :alt => "Closed Topic" }
            Discussione chiusa
  -if @forum.can_moderate?(@user)
    %tr
      %td
        #forum_css
          Foglio di stile per questo forum:
          -css = @forum.custom_stylesheet || CustomStylesheet.new
          -form_for [ :admin, css ] do |f|
            =f.text_area :css, :rows => 10
            =f.hidden_field :stylable_type, :value => @forum.class.to_s
            =f.hidden_field :stylable_id,   :value => @forum.id
            =f.submit 'Aggiorna'
