<%@page_title = "Messaggi Privati per #{@user.username}"%>
<div id="pms">
  <script type="text/javascript">
    $('pms').hide()
  </script>
  <%unless @location[1] == 'trash'%>
  <div class="controls">
    <%=link_to 'Bozze', { :controller => 'draft', :action => 'list' },
                        { :class => 'drafts' }%>
    <%=link_to 'Nuovo messaggio', { :action => 'new' },
                                  { :class  => 'trashcan' }%>
    <%=link_to 'Cestino', { :action => 'list', :folder => 'trash' },
                          { :class  => 'trashcan' }%>
  </div>
  <%end%>
  <ul>
    <%@pms.each do |pm|
        flip = 0 unless flip
        %><%=render :partial => '/post/post',
        :locals => { :message => pm, :flip => flip }%><%
        flip = 1 - flip
      end 
    %>
  </ul>
  <script type="text/javascript">
    $$('div#pms li div.pm').invoke('hide')
    $('pms').show()

    function pm_reveal(id) {
      $('pm_' + id + '_hidden_line').hide()
      $('pm_' + id + '_pm').show()
      <%url = url_for :controller => 'pm', :action => 'show'
      %>new Ajax.Request('<%=url%>/' + id)
    }

    function pm_hide(id) {
      $('pm_' + id + '_hidden_line').show()
      $('pm_' + id + '_pm').hide()
    }

    function pm_delete(id) {
      $('pm_' + id).hide()
      <%url = url_for :controller => 'pm', :action => 'delete'
      %>new Ajax.Request('<%=url%>/' + id)
    }

    function pm_undelete(id) {
      $('pm_' + id).hide()
      <%url = url_for :controller => 'pm', :action => 'undelete'
      %>new Ajax.Request('<%=url%>/' + id)
    }

    <%@pms.each do |pm|%>
    $('pm_<%=pm.id%>_hidden_line').onclick = function() { pm_reveal(<%=pm.id%>) }
    $('pm_<%=pm.id%>_hidden_line').style.cursor = 'pointer'
    $$('div#pm_<%=pm.id%>_pm dd.date')[0].style.cursor = 'pointer'
    $$('div#pm_<%=pm.id%>_pm dd.subject')[0].style.cursor = 'pointer'
    $$('div#pm_<%=pm.id%>_pm dd.date')[0].onclick = function() { pm_hide(<%=pm.id%>) }
    $$('div#pm_<%=pm.id%>_pm dd.subject')[0].onclick = function() { pm_hide(<%=pm.id%>) }
    $('pm_delete_<%=pm.id%>').onclick = function() { pm_delete(<%=pm.id%>) }
    <%if pm.folder == 'trash'%>
    $('pm_undelete_<%=pm.id%>').onclick = function() { pm_undelete(<%=pm.id%>) }
    <%end%>
    <%end%>
  </script>
</div>
