<%=javascript_include_tag 'editor.js'%>
<script type="text/javascript">
  form_name = 'new_pm'
  text_name = 'pm[message]'
</script>
<div id="new_pm">
  <%=form_tag({ :controller => 'pm', :action => 'create' },
    {:method => 'post', :id => 'new_pm_form', :name =>'new_pm'})%>
    <div id="headers">
      <ul>
        <li>
          <div class="label">Invia a:</div>
          <div class="field">
            <%=text_field 'pm', 'msgto'%>
          </div>
        </li>
        <li>
          <div class="label">Oggetto:</div>
          <div class="field">
            <%=text_field 'pm', 'subject'%>
          </div>
        </li>
      </ul>
    </div>
    <div id="preview">
      <div class="label">
        <h3>Anteprima</h3>
      </div>
      <div class="content">
        <div id="pm_preview">
          <div class="message">
            <%=text_to_html(@pm.message, 'bb')%>
          </div>
        </div>
      </div>
    </div>
    <div class="input_area">
      <div id="message">
        <div class="label">
          <h3>Messaggio</h3>
        </div>
        <div class="content">
          <%=text_area 'pm', 'message'%>
          <%=hidden_field_tag 'id', @pm.id%>
          <%=hidden_field_tag 'draft_id', @draft.id if @draft%>
          <div class="control">
            <%=submit_tag 'Invia'%>
            <span id="draft_saved" style="display: none;"></span>
          </div>
        </div>
      </div>
      <div id="format-commands">
        <div class="label">
          <h3>Formattazione</h3>
        </div>
        <div class="content">
          <ul>
            <li><%=format_button('b', 'bb_bold.gif', 'grassetto')%></li>
            <li><%=format_button('i', 'bb_italicize.gif', 'corsivo')%></li>
            <li><%=format_button('u', 'bb_underline.gif', 'sottolineato')%></li>
            <li><%=format_button('quote', 'bb_quote.gif', 'citazione')%></li>
            <li><%=format_button('img', 'bb_image.gif', 'immagine')%></li>
            <li><%=format_button('list', 'bb_list.gif', 'lista')%></li>
            <li><%=format_button('code', 'bb_code.gif', 'codice')%></li>
          </ul>
        </div>
      </div>
      <div id="smiley_list">
        <div class="label">
          <h3>Faccine</h3>
        </div>
        <div class="content">
          <%=render :partial => '/smiley/list'%>
        </div>
      </div>
    </div>
  </form>
  <%=observe_form 'new_pm_form', :frequency => 5, :update => 'pm_preview',
    :url => {:controller => 'text_preview', :action => 'text_to_html' }%>
  <%=observe_form 'new_pm_form', :frequency => 10, :update => 'draft_saved',
    :url => {:controller => 'pm', :action => 'save_draft' } %>
</div>
