<%Pm.new; Post.new; Topic.new 
  item = {}
  case draft.object_type
    when 'Pm'
      draft.object[0].subject = nil if draft.object[0].subject.empty?
      subj = draft.object[0].subject || content_tag('em', "senza oggetto")
      subj = content_tag('strong', subj)
      link = link_to "Messaggio privato", :controller => 'pm', :action => 'new',
        :draft => draft.id
      u    = draft.object[0].to
      if !u.new_record?
        dst = link_to h(u.username), :controller => 'user', :action => 'view',
          :id => u
      else
        dst = content_tag('em', 'utente sconosciuto')
      end
      item[:title] = "#{link} #{subj} per #{dst}"
    when 'Post'
      post  = draft.object[0]
      topic = post.topic
      if topic.nil?
        linktext = "Nuova discussione"
        subj     = post[:subject] || content_tag('em', "senza oggetto")
        subj     = content_tag('strong', subj)
        link     = link_to(linktext, :controller => 'post', :action => 'new',
          :draft => draft)
        title    = "#{link} #{subj} nel forum "
        title   += link_to cleanup(post.forum.name), :controller => 'forum',
          :action => 'view', :id => post.forum
      else
        link   = link_to("Nuovo messaggio", :controller => 'post',
          :action => 'new', :draft => draft)
        title  = "#{link} nella discussione "
        title += link_to(topic.subject, :controller => 'topic',
          :action => 'view' , :id => topic)
      end
      item[:title] = title
  end
  item[:time]   = timestamp_to_date(draft.timestamp)
  item[:delete] = button_to_remote('elimina',
    { :url => { :controller => 'draft', :action => 'delete',
                :id => draft.id } },
    { :class => 'delete' })
%>
  <tr id="draft_<%=draft.id%>" class="bg<%=flip%>">
    <td class="time">
      <%=item[:time]%>
    </td>
    <td class="title">
      <%=item[:title]%>
    </td>
    <td class="delete">
      <%=item[:delete]%>
    </td>
  </tr>
