<%flip = 0 unless flip%>
<%@page_title = "Bozze di #{h(@user.username)}"%>
<div id="drafts">
  <ul>
    <%@drafts.each do |dr|%>
    <li id="<%=domid(dr)%>" class="alt_<%=flip%>">
      <%=render :partial => 'draft', :locals => { :draft => dr, :flip => flip }%>
    </li>
    <%flip = 1 - flip%>
    <%end%>
    <%if @drafts.empty?%>
    <li class="empty_list">
      Non ci sono bozze non inviate.
    </li>
    <%end%>
  </ul>
  <script type="text/javascript">
    function draft_delete(id) {
      $('draft_' + id).hide()
      <%url = url_for :controller => 'draft',
                      :action     => 'delete',
                      :id         => ''%>
      new Ajax.Request("<%=url%>" + id)
    }

    <%@drafts.each do |dr|
    %>$('draft_delete_<%=dr.id%>').onclick = function() { draft_delete(<%=dr.id%>) }
    <%end%>
  </script>
</div>
