<%# vim: set ft=eruby nowrap: -%>
<div class="primary">
  <div id="blog" class="content_box">
    <div id="blog-header">
      <%unless @blog.user.avatar.empty?%>
      <div class="header-image">
        <%=image_tag(@blog.user.avatar, :class => 'avatar')%>
      </div>
      <%end%>
      <div class="header-text">
        <h1><%=cleanup(@blog.name)%></h1>
        <div class="author">
          di <span class="username"><%=cleanup(@blog.user.username)%></span>
        </div>
        <div class="description">
          <%=cleanup(@blog.description)%>
        </div>
      </div>
    </div>
    <%=render :partial => '/blog_posts/editable_list', :locals => { :posts => @posts }%>
  </div>
</div>
<%#render :partial => '/category/editable_list', :locals => { :cats => @categories }%>
