<% username = f.user.username if f.user %>
<tr id="download_<%=f.id%>">
  <td align="center">
    <%= render :partial => 'icon',
                :locals  => { :icon => f.file_posticon } %>
  </td>
  <td class="files">
    <%= link_to h(f.file_name), :controller => 'file',
                                :action     => 'download',
                                :id         => f.id %>
  </td>
  <td>
    <% if f.metadata %>
    <div class="filesize"><%=f.metadata.filesize / 1.kilobyte%> kB</div>
    <%=h f.file_desc%>
    <% else %>
    <strong>Errore:</strong> mancano i dati del file.
    <% end %>
  </td>
  <td><%=h f.filedb_category.cat_name%></td>
  <td><%=h f.file_creator%></td>
  <td align="center"><%=f.file_dls%></td>
  <% if is_adm? %>
  <td><%=username%></td>
  <td align="center">
    <%=button_to_remote 'disapprova',
      :url => { :action => :unapprove, :id => f, :from_action => :list } %>
  </td>
  <% end %>
</tr>
