<div id="navbar_top">
  <%=render :partial => '/users/login_box'%>
  <div class="spacer"></div>
  <%=render :partial => '/file/navbar'%>
</div>
<div id="file_license">
  <div class="file_license_name">
    <%= @file.license.name %>
  </div>
  <div class="file_license_text">
    <%= @file.license.text %>
  </div>
  <div class="file_license_buttons">
    <center>
      <table>
        <tr>
          <td>
            <%=button_to 'Accetto', :controller        => 'file',
                                    :action            => 'download',
                                    :id                => @file.id,
                                    :license_confirmed => true %>
          </td>
          <td>
            <%=button_to 'Non accetto', :controller => 'file',
                                        :action     => 'categories' %>
          </td>
        </tr>
      </table>
    </center>
  </div>
</div>
