<%
  bw = 1
  ts = 6
%>
<%=javascript_include_tag :defaults %>
<div id="navbar_top">
  <%=render :partial => '/users/login_box'%>
  <div class="spacer"></div>
  <%=render :partial => '/file/navbar'%>
</div>
<div id="files">
  <table class="file_list" cellspacing="<%=bw%>" cellpadding="<%=ts%>">
    <%=render :partial => 'list_header'%>
    <% @files.each do |f| %>
      <%= render :partial => 'download', :locals => { :f => f } %>
    <% end %>
  </table>
</div>
<div id="navbar_bottom">
  <%#render :partial => '/file/navbar'%>
</div>
<%= render :partial => 'footer' %>
