<%
  # vim: set ft=eruby nowrap:
  update_id    = "moderation_options_#{@topic.id}"
  hidden       = false unless hidden
  style        = hidden ? 'display: none;' : ''
  #can_moderate = false unless defined?(can_moderate)
%>
<div id="<%=update_id%>" class="only_mod" style="<%=style%>">
  <%remote_form_for @topic do |f|%>
  <div class="title">
    <span class="label">Titolo:</span>
    <%=f.text_field :title, :value => @topic.title%>
  </div>
  <%if can_moderate%>
  <div class="pinned">
    <%=radio_button 'topic', 'pinned', 'false'%>
    <span class="not_pinned">Normale</span>
    <%=radio_button 'topic', 'pinned', 'true'%>
    <span class="pinned">In evidenza</span>
  </div>
  <div class="locked">
    <%=radio_button 'topic', 'locked', 'false'%>
    <span class="not_locked">Aperta</span>
    <%=radio_button 'topic', 'locked', 'true'%>
    <span class="locked">Chiusa</span>
  </div>
  <%end%>
  <div class="post_icon">
    Icona:
    <%=radio_button 'topic', 'icon', nil, :id => 'topic_icon_radio_null'%> (nessuna)
    <%@post_icons.each do |i|%>
    <%=radio_button 'topic', 'icon', i[:url], :id => "topic_icon_radio_#{i.id}"%> <%=image_tag(i.url, :alt => '')%>
    <%end%>
  </div>
  <%if can_moderate%>
  <div class="move_to">
    <span class="label">Sposta in</span>
    <%=f.select :fid, Forum.flattened_list.collect { |i| [ Sanitizer.sanitize_html(i.name, ''), i.id ] }%>
  </div>
  <%end%>
  <div class="commit">
    <%=f.submit 'Aggiorna', :disabled => true%>
  </div>
  <%end%>
  <%=button_to 'Elimina', @topic, :method => :delete, :confirm => "Vuoi veramente cancellare questa discussione?"%>
  <script type="text/javascript">
    <%
    watch_ids  = []
    watch_ids += [ 'topic_pinned_true', 'topic_pinned_false', 'topic_locked_true', 'topic_locked_false', 'topic_fid' ] if can_moderate
    watch_ids += @post_icons.collect { |i| "topic_icon_radio_#{i.id}" }
    watch_ids += [ 'topic_icon_radio_null' ]
    %>
    function activate_commit_button() { $('topic_submit').disabled = false }
    $('topic_title').onkeypress = activate_commit_button
    $('topic_tags').onkeypress  = activate_commit_button
    <%watch_ids.each do |id|%>
    $('<%=id%>').onchange = activate_commit_button
    <%end%>
  </script>
</div>
