-hide_options = false unless defined?(hide_options)
-new_post     = false unless defined?(new_post)
.title(id="title_#{domid(@topic)}")
  .box
    .info
      %h1= cleanup(@topic.title)
      -# FIXME find a way to show the page number again after update
      -if @page_seq_opts && @page_seq_opts[:current].to_i > 1
        %span.page_number= "(pagina #{@page_seq_opts[:current] / @opts[:ppp] + 1})"
      -if new_post
        %span.new_post (nuovo messaggio)
      -if !hide_options && @topic.can_edit?(@user)
        %span.options_link= link_to_remote("opzioni", :url => edit_topic_path(@topic), :method => :get)
    .options(id="options_#{domid(@topic)}" style="display: none;")
