<%
t            = @opts[:theme]
flip         = 0
can_moderate = @topic.can_moderate?(@user)
can_post     = @topic.can_post?(@user)
%>
    <%if can_moderate%>
    <div id="moderator-panel-top">
      <h4><a href="javascript:;" onclick="Effect.toggle($('moderator-panel-options'), 'slide')">Opzioni di moderazione</a></h4>
      <div id="moderator-panel-options" style="display: none;">
        <%=render :partial => 'moderation_options'%>
      </div>
    </div>
    <%end%>
    <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
      <tr>
        <td bgcolor="<%=t.bordercolor%>">
          <table border="0" cellspacing="1" cellpadding="6" width="100%">
            <tr>
              <td width="18%" class="header">Autore:</td>
              <td class="header" colspan="2">Oggetto: <%=cleanup(@topic.subject)%></td>
            </tr>
            <%@posts.each do |p|%>
              <%=render :partial => '/posts/post', :locals => { :p => p, :flip => flip, :can_moderate => can_moderate, :can_post => can_post }-%>
              <%flip = 1 - flip-%>
            <%end%>
          </table>
        </td>
      </tr>
    </table>
    <%if @user%>
    <div style="float: left; font-size: 11px; margin: 1em;">
      <%=link_to(
        'versione integrale (solo testo)',
        full_topic_path(@topic, :txt)
      )%>
    </div>
    <%end%>
    <%if @topic.can_post?(@user)%>
    <div style="text-align: right; font-size: 15px; font-weight: bold; margin: 1em;">
      <%=link_to(
        'Nuova risposta',
        new_topic_post_path(@topic)
      )%>
    </div>
    <%end%>
