#administration
  %ul
    %li= link_to("CMS", admin_cms_pages_path)
    %li= link_to("Annunci", admin_announcements_path)
    %li= link_to("Forum", admin_forums_path)
    %li= link_to("Staff", admin_staff_path)
    %li= link_to("Espulsioni", admin_bans_path)
    -#%li= link_to("Banner", admin_banners_path)
