<%# vim: set ft=eruby nowrap: -%>
<%remote_form_for p, :update => domid(p) do |f|%>
  <fieldset>
    <div>
      Titolo: <%=f.text_field :title, :value => p.title%>
    </div>
    <div>
      Tags: <%=f.text_field :tags_as_text%>
    </div>
    <div>
      <%=f.text_area :text, :class => 'blog_post_text'%>
    </div>
    <div>
      <%=f.hidden_field :id, :value => p.id%>
      <%=f.submit 'Salva'%>
    </div>
  </fieldset>
<%end%>
