<%# vim: set ft=eruby nowrap: -%>
<%remote_form_for p, :update => domid(p) do |f|%>
  <fieldset>
    <div>
      Titolo: <%=f.text_field :title, :value => p.title%>
    </div>
    <div>
      <%=f.select :category_ids, p.blog.categories.collect { |c| [ c.name, c.id ] } if p.is_a?(BlogPost)%>
    </div>
    <div>
      <%=f.text_area :text, :value => p.text%>
    </div>
    <div>
      <%=f.hidden_field :id, :value => p.id%>
      <%=f.submit 'Salva'%>
    </div>
  </fieldset>
<%end%>
