<%# vim: set ft=eruby nowrap: -%>
<%unless p.title.to_s.empty?%><h2><%=cleanup(p.title)%></h2><%end%>
<%if p.is_a?(BlogPost) && !p.categories.empty?%>
<div class="categories">
  Categoria: <span class="categories"><%=p.categories.collect { |c| c.name }.join ', '%></span>
</div>
<%end%>
<div class="text">
  <%=BbText.new(p.text, Smiley.all(p.user)).to_html%>
</div>
<div class="author">
  scritto da <span class="author"><%=cleanup(p.user.username)%></span>
  il <span class="date"><%=p.created_at.strftime("%d/%m/%y, %H.%M")%></span>
</div>
<div class="permalink">
  <%=link_to 'permalink', p%>
</div>
<div class="operations">
  <%if @user == p.user || @user == @blog.user%>
    <%if p.is_a?(BlogPost)%>
      <%=link_to_remote 'mod',
        :update => domid(p),
        :url    => { :controller => :blog_posts, :action => :edit, :id => p },
        :html   => { :class => 'edit' }%>
      <%=link_to_remote 'del',
        :update => domid(p),
        :url    => { :controller => :blog_posts, :action => :destroy, :id => p },
        :method => :delete,
        :html   => { :class => 'delete' }%>
    <%elsif p.is_a?(BlogComment)%>
      <%=link_to_remote 'mod',
        :update => domid(p),
        :url    => { :controller => :blog_comments, :action => :edit, :id => p },
        :html   => { :class => 'edit' }%>
      <%=link_to_remote 'del',
        :update => domid(p),
        :url    => { :controller => :blog_comments, :action => :destroy, :id => p },
        :method => :delete,
        :html   => { :class => 'delete' }%>
    <%end%>
  <%end%>
  <div class="comments_summary">
    <%=link_to_remote "#{p.comments_count} commenti",
      :update => domid(p) + '_comments',
      :url    => { :controller => :blog_posts, :action => :view_comments, :id => p },
      :html   => { :class => 'view_comments' } if p.is_a?(BlogPost)%>
    <%if p.is_a?(BlogPost) && @blog.user == @user%>
      <%if p.unread_comments_count == 1%>
        <span class="unread">(<%=p.unread_comments_count%> non letto)</span>
      <%elsif p.unread_comments_count > 0%>
        <span class="unread">(<%=p.unread_comments_count%> non letti)</span>
      <%end%>
    <%end%>
  </div>
</div>
<div id="<%=domid(p)%>_comments">
</div>
