<%
lfu = @legacy_forum_uri
t   = @opts[:theme]
%><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="SHORTCUT ICON" href="http://asb.studentibicocca.it/images/favicon.ico" />
    <%=render :partial => '/common/stylesheets'%>
    <%=javascript_include_tag :defaults%>
    <%=render :partial => '/common/annoyances_01'%>
    <title>
      <%=cleanup(@page_title) || "Forum degli Studenti della Bicocca"%>
    </title>
  </head>
  <body>
    <%=render :partial => '/common/annoyances_02'%>
    <div>
      <script src="http://www.studentibicocca.it/portale/include/bannerad3.js" type="text/javascript">
      </script>
      <table cellspacing="0" cellpadding="0" border="0" width="97%" align="center" class="themed">
        <tr>
          <td>
            <table border="0" cellspacing="1" cellpadding="6" width="100%">
              <tr>
                <td width="100%" class="top">
                  <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <font style="font-size: 10px; font-family: arial, verdana">
                          Forum degli Studenti della Bicocca
                          <br />
                        </font>
                      </td>
                    </tr>
                    <tr>
                      <td class="navtd">
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tr>
                            <td class="navtd">
                              &nbsp;
                              <%if @user%>
                                <%=link_to(content_tag('span', 'Profilo', :class => 'navtd'), edit_user_path(@user))%> |
                              <%else%>
                                <%=link_to(content_tag('span', 'Registrati', :class => 'navtd'), new_user_path(:rules => true))%> |
                              <%end%>
                              <a href="<%=lfu%>/misc.php?action=search"><span class="navtd">Cerca</span></a>
                              <%if @user%> | <a href="<%=lfu%>/usercp.php?action=u2u"><span class="navtd">Messaggi privati</span></a><%end%> 
                            </td>
                            <td align="right">
                              <a href="/"><span class="navtd">Torna a STUDENTIBICOCCA.it</span></a>
                            </td>
                            <td>
                              &nbsp;
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <br/>
      <table cellspacing="0" cellpadding="0" border="0" width="97%" align="center">
        <tr>
          <td bgcolor="<%=t.bordercolor%>">
            <table border="0" cellspacing="1" cellpadding="6" width="100%">
              <tr>
                <td width="100%" bgcolor="<%=t.altbg1%>">
                  <table border="0" cellspacing="1" cellpadding="0" width="100%">
                    <tr>
                      <td>
                        <font style="font-size: 10px; font-family: arial, verdana">
                          <%if @user%>
                          Benvenuto <strong><em><%=@user.username%></em></strong> |
                          <%=link_to(
                            content_tag(:span, 'Logout', :class => 'navtd'),
                            logout_users_path
                          )%>
                          <%else%>
                          Non hai fatto il login | 
                          <%=link_to(
                            content_tag(:span, 'Login', :class => 'navtd'),
                            login_users_path
                          )%>
                          <%end%>
                        </font>
                      </td>
                      <td align="right" valign="bottom"></td>
                      <td align="right" valign="bottom">
                        <font style="font-size: 10px; font-family: arial, verdana">
                          <%=page_trail%>
                        </font>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <div id="main">
      <div id="cms">
        <div id="content_box">
          <%if false && @location%>
          <div id="breadcrumbs" class="breadcrumbs">
            <%=render :partial => '/common/breadcrumbs'%>
          </div>
          <%end%>
          <%unless cleanup(page_seq).empty?%>
          <div class="page-seq">
            <%=page_seq%>
          </div>
          <%end%>
          <%=yield%>
          <div class="page-seq">
            <%=page_seq%>
          </div>
          <%if @location%>
          <div id="breadcrumbs_bottom" class="breadcrumbs_bottom">
            <%#render :partial => '/common/breadcrumbs'%>
            <%=page_trail%>
          </div>
          <%end%>
          <%=render :partial => '/users/online'%>
        </div>
      </div>
    </div>
    <%=render :partial => '/common/google_analytics'%>
  </body>
</html>
