<div id="login_box">
  <%if @user.is_a? User%>
    Benvenuto <strong><%=h @user.username%></strong>!
    <%if @unread_pms_count > 0 || @unsent_drafts_count > 0 || @unapproved_files_count > 0 || @unread_blog_comments_count > 0%>
    <ul>
      <%=content_tag('li', link_pm_unread(@unread_pms_count))                     if @unread_pms_count           > 0%>
      <%=content_tag('li', link_blogs_unread(@user, @unread_blog_comments_count)) if @unread_blog_comments_count > 0%>
      <%=content_tag('li', link_draft_unsent(@unsent_drafts_count))               if @unsent_drafts_count        > 0%>
      <%=content_tag('li', link_file_unapproved(@unapproved_files_count))         if @unapproved_files_count     > 0%>
    </ul>
    <%end%>
    <div class="buttons">
      <%=link_to 'impostazioni', edit_user_path(@user)%>
      <%=link_pm_list%>
      <%=link_to 'logout', logout_users_path%>
    </div>
    <div class="spacer"></div>
  <%else%>
    <div class="login">
      <%form_for :users, :url => authenticate_users_path do |f|%>
      <div class="username">
        <div class="label">Username</div>
        <%=f.text_field :username, :size => 16%>
      </div>
      <div class="password">
        <div class="label">Password</div>
        <%=f.password_field :password, :size => 16%>
      </div>
      <%=f.submit 'login'%>
      <div class="user_register">
        <%=link_to 'nuovo utente', new_user_path(:rules => true)%>
      </div>
      <div class="user_recover_password">
        <%=link_to 'dimenticato la password?', recover_password_users_path%>
      </div>
      <%end%>
    </div>
  <%end%>
</div>
