<div id="login_box">
  <%if @user.is_a? User%>
    Benvenuto <strong><%=h @user.username%></strong>!
    <ul>
      <%=content_tag('li', link_pm_unread)       if link_pm_unread%>
      <%=content_tag('li', link_draft_unsent)    if link_draft_unsent%>
      <%=content_tag('li', link_file_unapproved) if link_file_unapproved%>
      <%=content_tag('li', link_blogs_unread)    if link_blogs_unread%>
    </ul>
    <div class="buttons">
      <%=link_to 'impostazioni', edit_user_path(@user)%>
      <%=link_pm_list%>
      <%=link_to 'logout', logout_users_path%>
    </div>
    <div class="spacer"></div>
  <%else%>
    <div class="login">
      <%form_for :users, :url => authenticate_users_path do |f|%>
      <div class="username">
        <div class="label">Username</div>
        <%=f.text_field :username, :size => 16%>
      </div>
      <div class="password">
        <div class="label">Password</div>
        <%=f.password_field :password, :size => 16%>
      </div>
      <%=f.submit 'login'%>
      <div class="user_register">
        <%=link_to 'nuovo utente', new_user_path(:rules => true)%>
      </div>
      <div class="user_recover_password">
        <%=link_to 'dimenticato la password?', recover_password_users_path%>
      </div>
      <%end%>
    </div>
  <%end%>
</div>
