<%t = @opts[:theme]%>
<%form_for @edit_user do |f|%>
  <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" bgcolor="<%=t.bordercolor%>">
    <tbody>
      <tr>
        <td bgcolor="<%=t.header%>">
          <table cellspacing="1" cellpadding="6" border="0" width="100%">
            <tbody>
              <tr>
                <td class="header" colspan="2">Modifica profilo</td>
              </tr>
              <tr>
                <td bgcolor="<%=t.altbg1%>" class="tablerow">Password:</td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow">
                  <%=password_field_tag :new_password, ''%>
                  Digita la nuova password se è cambiata, altrimenti lascia il
                  campo vuoto.
                </td>
              </tr>
              <tr>
                <td bgcolor="<%=t.altbg1%>" width="22%" class="tablerow">E-Mail:</td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow">
                  <%=f.text_field :email, :size => 30%>
                </td>
              </tr>
              <tr>
                <td class="header" colspan="2">Registrati - Altre opzioni</td>
              </tr>
              <tr>
                <td bgcolor="<%=t.altbg1%>" width="22%" class="tablerow">Sito web:</td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow">
                  <%=f.text_field :site, :size => 30%>
                </td>
              </tr>
              <tr>
                <td bgcolor="<%=t.altbg1%>" width="22%" class="tablerow">Aim:</td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow">
                  <%=f.text_field :aim, :size => 30%>
                </td>
              </tr>
              <tr>
                <td bgcolor="<%=t.altbg1%>" width="22%" class="tablerow">ICQ:</td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow">
                  <%=f.text_field :icq, :size => 30%>
                </td>
              </tr>
              <tr>
                <td bgcolor="<%=t.altbg1%>" width="22%" class="tablerow">Yahoo:</td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow">
                  <%=f.text_field :yahoo, :size => 30%>
                </td>
              </tr>
              <tr>
                <td bgcolor="<%=t.altbg1%>" width="22%" class="tablerow">MSN:</td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow">
                  <%=f.text_field :msn, :size => 30%>
                </td>
              </tr>
              <tr>
                <td bgcolor="<%=t.altbg1%>" width="22%" class="tablerow">Facoltà/Corso di Laurea:</td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow">
                  <%=f.text_field :location, :size => 30%>
                </td>
              </tr>
              <!--
              <tr>
                <td bgcolor="<%=t.altbg1%>" class="tablerow">Compleanno:</td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow"><select name="month">
                  <option value="">
                    &nbsp;
                  </option>
                  <option value="Gennaio">
                    Gennaio
                  </option>
                  <option value="Febbraio">
                    Febbraio
                  </option>
                  <option value="Marzo">
                    Marzo
                  </option>
                  <option value="Aprile">
                    Aprile
                  </option>
                  <option value="Maggio">
                    Maggio
                  </option>
                  <option value="Giugno">
                    Giugno
                  </option>
                  <option value="Luglio">
                    Luglio
                  </option>
                  <option value="Agosto">
                    Agosto
                  </option>
                  <option value="Settembre">
                    Settembre
                  </option>
                  <option value="Ottobre">
                    Ottobre
                  </option>
                  <option value="Novembre">
                    Novembre
                  </option>
                  <option value="Dicembre">
                    Dicembre
                  </option>
                </select> <select name="day">
                  <option value="">
                    &nbsp;
                  </option>
                  <option value="1">
                    1
                  </option>
                  <option value="2">
                    2
                  </option>
                  <option value="3">
                    3
                  </option>
                  <option value="4">
                    4
                  </option>
                  <option value="5">
                    5
                  </option>
                  <option value="6">
                    6
                  </option>
                  <option value="7">
                    7
                  </option>
                  <option value="8">
                    8
                  </option>
                  <option value="9">
                    9
                  </option>
                  <option value="10">
                    10
                  </option>
                  <option value="11">
                    11
                  </option>
                  <option value="12">
                    12
                  </option>
                  <option value="13">
                    13
                  </option>
                  <option value="14">
                    14
                  </option>
                  <option value="15">
                    15
                  </option>
                  <option value="16">
                    16
                  </option>
                  <option value="17">
                    17
                  </option>
                  <option value="18">
                    18
                  </option>
                  <option value="19">
                    19
                  </option>
                  <option value="20">
                    20
                  </option>
                  <option value="21">
                    21
                  </option>
                  <option value="22">
                    22
                  </option>
                  <option value="23">
                    23
                  </option>
                  <option value="24">
                    24
                  </option>
                  <option value="25">
                    25
                  </option>
                  <option value="26">
                    26
                  </option>
                  <option value="27">
                    27
                  </option>
                  <option value="28">
                    28
                  </option>
                  <option value="29">
                    29
                  </option>
                  <option value="30">
                    30
                  </option>
                  <option value="31">
                    31
                  </option>
                </select>
                <input type="text" value="" size="4" name="year" /></td>
              </tr>
              -->
              <tr>
                <td bgcolor="<%=t.altbg1%>" width="22%" class="tablerow">Bio:</td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow">
                 <%=f.text_area :bio, :cols => 30, :rows => 5%>
                </td>
              </tr>
              <tr>
                <td bgcolor="<%=t.altbg1%>" width="22%" class="tablerow">Firma:</td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow">
                 <%=f.text_area :sig, :cols => 30, :rows => 5%>
                </td>
              </tr>
              <tr>
                <td bgcolor="<%=t.altbg1%>" class="tablerow">URL dell'Avatar:</td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow">
                  <%=f.text_field :avatar, :size => 30%>
                </td>
              </tr>
              <tr>
                <td bgcolor="<%=t.altbg1%>" class="tablerow">Larghezza dell'avatar:<br /><small>Massimo:&nbsp;150</small></td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow">
                  <%=f.text_field :avatar_width, :size => 3%>
                </td>
              </tr>
              <tr>
                <td bgcolor="<%=t.altbg1%>" class="tablerow">Altezza dell'avatar:<br /><small>Massimo:&nbsp;150</small></td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow">
                  <%=f.text_field :avatar_height, :size => 3%>
                </td>
              </tr>
              <tr>
                <td bgcolor="<%=t.altbg1%>" class="tablerow">Tema:</td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow">
                  <%=f.select :theme, Theme.find(:all).collect(&:name)%>
                </td>
              </tr>
              <tr>
                <td bgcolor="<%=t.altbg1%>" class="tablerow">Discussioni per pagina:</td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow">
                  <%=f.text_field :tpp, :size => 3%>
                </td>
              </tr>
              <tr>
                <td bgcolor="<%=t.altbg1%>" class="tablerow">Messaggi per pagina:</td>
                <td bgcolor="<%=t.altbg2%>" class="tablerow">
                  <%=f.text_field :ppp, :size => 3%>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <%=f.submit 'Modifica utente'%>
<%end%>
