<%t = @opts[:theme]%>
<%form_for :users, :url => authenticate_users_path do |f|%>
<table cellspacing="1" cellpadding="6" border="0" width="100%" bgcolor="<%=t.bordercolor%>">
  <tbody>
    <tr class="header" bgcolor="<%=t.header%>">
      <td colspan="2"><span style="color: <%=t.headertext%>;">Login</span></td>
    </tr>
    <tr class="tablerow">
      <td bgcolor="<%=t.altbg1%>" width="22%">Username:</td>
      <td bgcolor="<%=t.altbg2%>">
        <%=f.text_field :username, :size => 30%>
        <span class="11px"><%=link_to 'vuoi registrarti?', new_user_path%></span>
      </td>
    </tr>
    <tr class="tablerow">
      <td bgcolor="<%=t.altbg1%>">Password:</td>
      <td bgcolor="<%=t.altbg2%>">
        <%=f.password_field :password, :size => 25%>
        <!--<span class="11px"><a href="misc.php?action=lostpw">Dimenticato la password?</a></span>-->
      </td>
    </tr>
    <tr class="tablerow">
      <td bgcolor="<%=t.altbg1%>">Giorni di login (durata del cookie):</td>
      <td bgcolor="<%=t.altbg2%>">
        <%=f.text_field :cookie_time, :size => 3, :value => 10%>
      </td>
    </tr>
  </tbody>
</table>
<br />
<div style="text-align: center;">
  <%=f.submit 'login'%>
</div>
<%end%>
