#user_profile{ :class => domid(@shown_user) }
  -if @shown_user.can_edit?(@user)
    .edit_link
      %a{ :href => edit_user_path(@shown_user) } Modifica profilo
  .list
    %dl.username
      / username / reg_date / status / online / email / www / aim / icq / yahoo / msn / location / birthday / bio / pm / search
      %dt Nome utente:
      %dd= cleanup(@shown_user.username)

    %dl.registration_date
      %dt Registratro il:
      %dd= Time.at(@shown_user.created_at).strftime("%d/%m/%Y")

    %dl.status
      %dt Status:
      %dd= status_list(@shown_user)

    %dl.online
      %dt Online:
      %dd= @shown_user.online? ? 'sì' : 'no'

    -unless @shown_user.location.blank?
      %dl.location
        %dt Corso di laurea:
        %dd= @shown_user.location

    -unless @shown_user.website.blank?
      %dl.website
        %dt Sito web:
        %dd= link_to(@shown_user.website, @shown_user.website, :target => '_blank')

    -unless @shown_user.msn.blank?
      %dl.msn
        %dt MSN:
        %dd= @shown_user.msn

    -unless @shown_user.icq.blank?
      %dl.icq
        %dt ICQ:
        %dd= @shown_user.icq

    -unless @shown_user.yahoo.blank?
      %dl.yahoo
        %dt Yahoo:
        %dd= @shown_user.yahoo

    -unless @shown_user.bio.blank?
      %dl.bio
        %dt Bio:
        %dd= cleanup(@shown_user.bio).gsub("\n", "<br />\n") # TODO BB would be nice here


-unless @latest_replies.blank?
  #latest_replies{ :class => domid(@shown_user) }
    %h3 Le ultime risposte ai tuoi messaggi:
    .list
      %ul.latest_replies
        -@latest_replies.each do |p|
          %li
            =link_to(cleanup(p.user.username), p.user)
            in
            =link_to(cleanup(p.topic.title), p.topic)
            il
            =link_to(p.created_at.strftime("%d/%m/%Y, %H.%M"), p)
