<%
  fdisplay  = '/portale/forum/forumdisplay.php?fid='
  book_icon = 'http://www.studentibicocca.it/portale/immagini-nh/libri.gif'
  boards    = [
    { # Economia {{{
      :name  => 'Economia',
      :icon  => 'http://www.studentibicocca.it/portale/immagini/facolta/economia.gif',
      :forum => 70,
      #:site  => 'http://www.studentibicocca.it/economia',
      :books => 101,
    }, # }}}
    { # Giurisprudenza {{{
      :name  => 'Giurisprudenza',
      :icon  => 'http://www.studentibicocca.it/portale/immagini/facolta/giurisprudenza.gif',
      :forum => 69,
      #:site  => 'http://www.studentibicocca.it/giurisprudenza/',
      :books => 100,
    }, # }}}
    { # Medicina e Chirurgia {{{
      :name  => 'Medicina e Chirurgia',
      :icon  => 'http://www.studentibicocca.it/portale/immagini/facolta/medicina.gif',
      :forum => 61,
      :books => 102,
    }, # }}}
    { # Psicologia {{{
      :name  => 'Psicologia',
      :icon  => 'http://www.studentibicocca.it/portale/immagini/facolta/psicologia.gif',
      :forum => 67,
      #:site  => 'http://www.studentibicocca.it/psicologia/',
      :books => 103,
    }, # }}}
    { # Scienze della Formazione {{{
      :name  => 'Scienze della Formazione',
      :icon  => 'http://www.studentibicocca.it/portale/immagini/facolta/formazione.jpg',
      :forum => 52,
      #:site  => 'http://www.studentibicocca.it/sde/',
      :books => 104,
    }, # }}}
    { # Scienze MM.FF.NN. {{{
      :name  => 'Scienze MM.FF.NN.',
      :icon  => 'http://www.studentibicocca.it/portale/immagini/facolta/mmffnn.gif',
      :forum => 57,
      #:site  => 'http://www.studentibicocca.it/mmffnn/',
      :books => 105,
    }, # }}}
    { # Scienze Statistiche {{{
      :name  => 'Scienze Statistiche',
      :icon  => 'http://www.studentibicocca.it/portale/immagini/facolta/statistica.gif',
      :forum => 59,
      :books => 106,
    }, # }}}
    { # Sociologia {{{
      :name  => 'Sociologia',
      :icon  => 'http://www.studentibicocca.it/portale/immagini/facolta/sociologia.gif',
      :forum => 55,
      #:site  => 'http://www.studentibicocca.it/pompelmorosa/',
      :books => 107,
    }, # }}}
  ]
  boards.each { |b| b[:ntopics] = 3 unless b[:ntopics] }
%>
<ul>
  <%boards.each do |i|%>
  <li>
    <%url = fdisplay + i[:forum].to_s%>
    <%if i[:icon]%>
      <%img = image_tag i[:icon], :alt => i[:name], :style => 'float: left; margin-right: 10px; margin-left: .5em; border: thin solid black;'%>
      <%=link_to img, url%>
    <%end%>
    <h3><%=link_to i[:name], url%></h3>
    <%if i[:site]%>
        <%=link_to 'Sito degli Studenti', i[:site],
          { :style => 'display: block;' }%>
    <%end%>
    <%if i[:books]%>
        <%url = fdisplay + i[:books].to_s%>
        <%img = image_tag book_icon%>
        <%=link_to img, url, { :style => 'float: left; margin-left: 1em; margin-right: .5em' } %>
        <strong><%=link_to 'Libri', url%></strong>
    <%end%>
    <div class="spacer"></div>
    <%=render :partial => '/forum/latest_topics',
              :locals  => { :id => i[:forum], :n => i[:ntopics],
                            :include_sub => true }%>
    <div class="spacer">
      <hr style="margin-top: 1em;"/>
    </div>
  </li>
  <%end%>
</ul>
