<%
  link_forum    = (@legacy_mode == :old) ? '/portale/forum'                   : url_for(:controller => :forum, :action => :index)
  link_channels = (@legacy_mode == :old) ? '/portale/forum/index.php?gid=24'  : url_for(:controller => :forum, :action => :show, :id => 24)
  link_boards   = (@legacy_mode == :old) ? '/portale/forum/index.php?gid=51'  : url_for(:controller => :forum, :action => :show, :id => 51)
  link_market   = (@legacy_mode == :old) ? '/portale/forum/index.php?gid=108' : url_for(:controller => :forum, :action => :show, :id => 108)
%>
<div id="portal_main">
  <div id="header"><%#Header %>
    <div id="title">
      <h1>StudentiBicocca.it</h1>
      <span id="subtitle">
        Il portale degli Studenti dell'Università di Milano-Bicocca
      </span>
    </div>
    <div id="asb_icon">
      <img src="http://www.studentibicocca.it/portale/immagini-nh/asb_small.png" alt=""/>
    </div>
    <%=render :partial => '/users/login_box'%>
    <div class="spacer"></div>
    <%=render :partial => '/common/flashes'%>
  </div>
  <div id="portal_left">
    <ul class="column">
      <li id="files"><%#Materiali %>
        <h2>
          <%=link_to 'Materiali', :controller => :file, :action => :categories%>
        </h2>
        <%#cache('portal/latest_files') do %>
        <%=render :partial => '/welcome/files' %>
        <%#end %>
      </li>
      <li id="boards"><%#Bacheche %>
        <h2><%=link_to 'Bacheche', link_boards%></h2>
        <% cache('portal/51') do %>
        <%=render :partial => '/welcome/boards' %>
        <% end %>
      </li>
    </ul>
  </div>
  <div id="portal_center">
    <ul class="column">
      <li><%#Forum %>
        <h2><%=link_to 'Forum', link_forum %></h2>
        <% cache('portal/25') do %>
        <%=render :partial => '/welcome/forums'%>
        <% end %>
      </li>
      <li><%#Canali tematici %>
        <h2><%=link_to 'Canali tematici', link_channels%></h2>
        <% cache('portal/24') do %>
        <%=render :partial => '/welcome/channels'%>
        <% end %>
      </li>
      <li><%#Cerco/Offro %>
        <h2><%=link_to 'Cerco/Offro', link_market%></h2>
        <% cache('portal/108') do %>
        <%=render :partial => '/welcome/market'%>
        <% end %>
      </li>
    </ul>
  </div>
  <div id="portal_right">
    <ul class="column">
      <li><%#Avvisi %>
        <h2><%=link_to 'Avvisi',
            'http://asb.studentibicocca.it/avvisi/'%></h2>
        <%#cache('portal/latest_announcements') do %>
        <%=render :partial => '/announcement/latest' %>
        <%#end %>
      </li>
      <li><%#Blog%>
        <h2><%=link_to 'Blog', blog_index_path%></h2>
        <%=render :partial => 'latest_blog_posts' %>
      </li>
      <% 
      contents = []
      ['servizi', 'iniziative', 'rappresentanti', 'network'].each do |i|
        c = StaticContent.find_or_prepare(i)
        contents << c unless c.nil?
      end
      %>
      <%contents.each do |c|%>
      <li id="<%=domid(c)%>" class="static_content">
        <%=render :partial => '/static_content/editable_static_content',
                  :locals  => { :sc => c }%>
        <div class="spacer"></div>
      </li>
      <%end%>
    </ul>
  </div>
  <div class="spacer"></div>
  <%=render :partial => '/users/online'%>
</div>
