<%
if @post.topic.is_a? Topic
  caption  = "Nuovo messaggio in "
  caption +=  link_to cleanup(@post.topic.subject), :controller => 'topic',
    :action => 'view', :id => @post.topic.id 
elsif @post.topic.nil?
  caption  = "Nuova discussione in "
  caption += link_to cleanup(@post.forum.name), :controller => 'forum',
    :action => 'view', :id => @post.forum.id 
end
%>
<%=javascript_include_tag :defaults%>
<%=stylesheet_link_tag url_for(
      :controller => 'post',
      :action     => 'css',
      :id         => @opts[:theme].name
    )%>
<div id="navbar_top">
  <%=render :partial => '/login/login_box'%>
  <div class="spacer"></div>
</div>
<div id="new_post">
  <div class="title_bar">
    <%=page_trail%>
    <div class="new_post_caption"><%=caption%></div>
  </div>
  <div id="message">
    <%=form_tag({:controller => 'post', :action => 'create'},
      {:method => 'post', :id => 'new_post_form'})%>
    <%if @post.topic.nil?%>
    <div class="label">Oggetto:</div>
    <div class="field">
      <%=text_field 'post', 'subject'%>
    </div>
    <%end%>
    <div class="label">Anteprima:</div>
    <div class="field">
      <div id="post_preview">
        <%=text_to_html(@post.message, @post.format)%>
      </div>
    </div>
    <div class="label">Testo:
      <%=select('post', 'format', [['BB', 'bb'],
        ['Textile', 'textile']], {:id => 'format'})%>
    </div>
    <div class="field">
      <%=text_area 'post', 'message'%>
      <%=render :partial => '/smiley/list'%>
      <%=hidden_field_tag 'draft_id', @draft.id%>
      <%=hidden_field_tag 'forum_id', @post.fid%>
      <%=hidden_field_tag 'topic_id', @post.tid%>
    </div>
    <div class="spacer"/>
    <div class="label">
      <%=submit_tag 'Invia'%>
    </div>
    <div class="field">
      <span id="draft_saved" style="display: none;"></span><br/>
    </div>
    </form>
    <%=observe_form 'new_post_form', :frequency => 5, :update => 'post_preview',
      :url => {:controller => 'text_preview', :action => 'text_to_html' }%>
    <%=observe_form 'new_post_form', :frequency => 10, :update => 'draft_saved',
      :url => {:controller => 'post', :action => 'save_draft' }%>
  </div>
  <div class="title_bar">
    <%#page_trail%>
    <div class="new_post_caption"><%=caption%></div>
  </div>
</div>
