  <% domid = "group_#{g.id}" %>
  <li id="<%=domid%>">
    <h3>
      <%= h g.name %>
      <%=button_to_remote 'elimina',
        :url => { :action => :delete_group, :id => g } if is_adm?%>
    </h3>
    <%=form_remote_tag :url => { :action => :add_user, :id => g }%>
    <table>
      <% g.users.each do |u| %>
      <%=render :partial => 'group_element', :locals => { :g => g, :u => u }%>
      <% end %>
      <% if can_edit?(g) %>
      <% domid = "group_#{g.id}_add_user" %>
      <tr id="<%=domid%>">
        <td>
          <%=text_field_tag 'username'%>
        </td>
        <td>
          <%=submit_to_remote :add_user, 'aggiungi',
            :url => { :action => :add_user, :id => g } %>
        </td>
      </tr>
      <% end %>
    </table>
    </form>
  </li>
