<%# vim: set ft=eruby nowrap: -%>
<%unless p.title.to_s.empty?%><h4><%=cleanup(p.title)%></h4><%end%>
<%unless p.categories.empty?%>
<span class="categories">(<%=p.categories.collect { |c| c.name }.join ', '%>)</span>
<%end%>
<div class="text">
  <%=text_to_html(p.text)%>
</div>
<%if p.blog_post_id > 0%><span class="author">(<%=cleanup(p.user.username)%>)<%end%>
<div class="operations">
  <%if @user == p.user || @user == @blog.user%>
  <%=link_to_remote 'mod',
    :update => domid(p),
    :url    => { :controller => :blog_post, :action => :edit, :id => p },
    :html   => { :class => 'edit' }%>
  <%=link_to_remote 'del',
    :update => domid(p),
    :url    => { :controller => :blog_post, :action => :destroy, :id => p },
    :html   => { :class => 'delete' }%>
  <%end%>
  <div class="comments_summary">
    <%
    if p.blog_post_id == 0
      label = p.comments_count.to_s + ' commenti'
      %><%=link_to_remote label,
      :update => domid(p) + '_comments',
      :url    => { :controller => :blog_post, :action => :view_comments, :id => p },
      :html   => { :class => 'view_comments' }%>
    <%end%>
    <%if @blog.user == @user%>
      <%if p.unread_comments_count == 1%>
        <span class="unread">(<%=p.unread_comments_count%> non letto)</span>
      <%elsif p.unread_comments_count > 0%>
        <span class="unread">(<%=p.unread_comments_count%> non letti)</span>
      <%end%>
    <%end%>
  </div>
</div>
<%if p.blog_post_id == 0%>
<div id="<%=domid(p)%>_comments">
</div>
<%end%>
