<%
# vim: set ft=eruby nowrap:
parent_post = nil unless parent_post.is_a? BlogPost
if parent_post
  parent_post_id = parent_post.id
  new_link_label = 'nuovo commento'
else
  parent_post_id = 0
  new_link_label = 'nuovo post'
end
new_link_id = 'new_blog_post_link_' + parent_post_id.to_s
new_form_id = 'new_blog_post_form_' + parent_post_id.to_s
-%>
<%if @user == @blog.user || parent_post_id > 0%>
<div id="new_blog_post_form_<%=parent_post_id%>" style="display: none;">
  <%userid = @user ? @user.id : nil
    remote_form_for BlogPost.new,
    :url => { :controller   => :blog_post,
              :action       => :create } do |f|%>
    <fieldset>
      <div>
        Titolo: <%=f.text_field :title%>
      </div>
      <%if parent_post_id == 0%>
      <div>
        <%=f.select :category_ids, @blog.categories.collect { |c| [ c.name, c.id ] }%>
      </div>
      <%end%>
      <div>
        <%=f.text_area :text%>
      </div>
      <%=f.hidden_field :blog_post_id, :value => parent_post_id%>
      <%=f.hidden_field :blog_id, :value => @blog.id%>
      <%=f.submit 'Crea'%>
    </fieldset>
  <%end%>
</div>
<%=link_to_function new_link_label, :id => new_link_id do |page|
  page[new_link_id.to_sym].hide
  page[new_form_id.to_sym].show
end%>
<%end%>
