<%
t          = @opts[:theme]
bgcolor    = (flip == 0) ? t.altbg1 : t.altbg2
images_url = 'http://www.studentibicocca.it/portale/forum/images/'
unless defined?(buttons)
  buttons = true
end
can_post     = false unless defined?(can_post)
can_moderate = false unless defined?(can_moderate)
moderators   = p.topic.forum.moderators
-%>
            <tr bgcolor="<%=bgcolor%>" class="<%=domid(p.cached_user)%>">
              <td rowspan="2" valign="top" class="tablerow" width="18%">
                <a name="pid<%=p.id%>" id="pid<%=p.id%>"></a>
                <%if p == @posts.try(:last)%><a name="last_post"></a><a name="bottom"></a><%end%>
                <span class="postauthor">
                  <%=p.cached_user.anonymized? ? content_tag(:em, 'utente anonimo') : h(p.cached_user.username)%>
                </span>
                <%unless p.cached_user.anonymized?%>
                <br />
                <div class="11px">
                  <%=p.cached_user.rank.title%><br />
                  <%p.cached_user.rank.stars.times do%><%=image_tag(images_url + 'star.gif', :alt => '*')%><%end%>
                  <br />
                  <%if moderators.include?(p.cached_user)%>
                  <span class="moderator"><%=t(sexified(:Moderator, p.cached_user.sex))%></span>
                  <br />
                  <%end%>
                  <div class="avatar_box">
                    <%if p.cached_user.avatar%>
                    <%=image_tag p.cached_user.avatar,
                      :class => 'avatar', :alt => ''%>
                    <%end%>
                  </div>
                  <br />
                  <br />
                  <%if p.cached_user.postnum > 1000%>
                  <%='%0.2f' % p.cached_user.posts_per_day%> messaggi per giorno<br />
                  <%else%>
                  <%=p.cached_user.postnum%> messaggi<br />
                  <%end%>
                  Registrato: <%=Time.at(p.cached_user.regdate).strftime('%m/%Y')%><br />
                  <div class="c3">
                    <br />
                    <%=link_to(
                      image_tag(images_url + 'b_profile.png', :border => 0, :alt => 'profilo'),
                      p.cached_user
                    )%>
                    <%if p.cached_has_blog%>
                    <%=link_to(
                      image_tag(images_url + 'b_blog.png', :alt => 'blog', :border => 0),
                      blog_list_path(:username => p.cached_user.username)
                    )%>
                    <%end%>
                    <%=render :partial => '/vote/icons', :partials => { :object => p }%>
                  </div>
                </div>
                <br />
                <%end%>
              </td>
              <td valign="top" height="1" class="tablerow" width="82%">
                &nbsp; postato il <%=p.created_at.strftime('%d/%m/%Y')%>
                alle <%=p.created_at.strftime('%H.%M')%>
              </td>
              <td>
                <div style="text-align: center;"><%=link_to 'permalink', p%></div>
              </td>
            </tr>
            <tr bgcolor="<%=bgcolor%>" class="<%=domid(p.cached_user)%>">
              <td height="120" valign="top" colspan="2">
                <div class="maxpostwidth">
                  <%=BbText.new(p.message, p.cached_smileys).to_html(:controller => self)%>
                  <%unless p.cached_user.signature.blank? || p.cached_user.anonymized?%>
                  <p>&nbsp;</p>____________________<br />
                  <div class="signature">
                    <%=cleanup(p.cached_user.signature).gsub("\n", '<br />')%>
                  </div>
                  <%end%>
                  <%if p.edituser && (p.updated_at - p.created_at > 2.minutes)%>
                  <div class="post_updated">
                    modificato da <%=p.updated_by ? cleanup(p.updated_by.username) : 'utente sconosciuto'%> il <%=p.updated_at.strftime('%d/%m/%Y')%>
                    alle <%=p.updated_at.strftime('%H.%M')%>
                  </div>
                  <%end%>
                </div>
              </td>
            </tr>
            <%if buttons%>
            <tr bgcolor="<%=bgcolor%>" class="<%=domid(p.cached_user)%>">
              <td>
                <%if p.cached_online%>
                <%=image_tag(images_url + 'online_status.gif', :alt => 'online')%>
                <%else%>
                <%=image_tag(images_url + 'offline_status.gif', :alt => 'offline')%>
                <%end%>
              </td>
              <td valign="top" class="tablerow" colspan="2">
                <table border="0" cellspacing="0" cellpadding="0" align="left">
                  <tr>
                    <td class="11px" width="100%">
                      <%=link_to(
                        image_tag(images_url + 'b_reply.png', :alt => 'rispondi', :border => 0),
                        reply_post_path(p)
                      ) if can_post%>
                      <%=link_to(
                        image_tag(images_url + 'b_reply_pm.png', :alt => 'rispondi', :border => 0),
                        post_reply_pm_path(p)
                      ) if @user%>
                      <%=link_to(
                        image_tag(images_url + 'b_edit.png', :alt => 'modifica', :border => 0),
                        edit_post_path(p)
                      ) if p.cached_can_edit%>
                      <%=link_to(
                        image_tag(images_url + 'b_destroy.png', :alt => 'elimina', :border => 0),
                        post_path(p),
                        :method  => :delete,
                        :confirm => "Sei sicuro di voler cancellare questo messaggio?"
                      ) if p.cached_can_edit%>
                      <%=link_to(
                        image_tag(images_url + 'b_report.png', :alt => 'segnala', :border => 0),
                        report_post_path(p)
                      )%>
                    </td>
                    <td>
                      <%=button_for_voting(p) if @user%>
                    </td>
                    <%if can_moderate%>
                    <td>
                      <%=image_tag(images_url + 'ip.gif', :title => p.useip)%>
                    </td>
                    <%end%>
                  </tr>
                </table>
              </td>
            </tr>
            <%end%>
