<%
if @pm
  obj = @pm
elsif @post
  obj = @post
end
what = obj.class.to_s.underscore
%>
<script type="text/javascript">
  form_name = 'new_message'
  text_name = '<%=what%>[message]'
</script>
<%=javascript_include_tag 'editor.js'%>
<div id="new_<%=what%>">
  <%form_for(obj, :html => { :id => 'new_message' }) do |f|%>
    <%if (obj.is_a?(Pm) || @topic.new_record?)%>
    <div id="headers">
      <ul>
        <%if obj.is_a?(Pm)%>
        <li>
          <div class="label">Invia a:</div>
          <div class="field">
            <%=text_field what, 'msgto'%>
          </div>
        </li>
        <%end%>
        <%if obj.is_a?(Pm) || @topic.new_record?%>
        <li>
          <div class="label">Oggetto:</div>
          <div class="field">
            <%=text_field what, 'subject'%>
          </div>
        </li>
        <%end%>
      </ul>
    </div>
    <%end%>
    <div id="preview">
      <div class="label">
        <h3>Anteprima</h3>
      </div>
      <div class="content">
        <div id="<%=what%>_preview">
          <div class="message">
            <%=BbText.new(obj.message, Smiley.all(@user)).to_html%>
          </div>
        </div>
      </div>
    </div>
    <div class="input_area">
      <div id="message">
        <div class="label">
          <h3>Messaggio</h3>
        </div>
        <div class="content">
          <%=f.text_area :message%>
          <%=hidden_field_tag 'draft_id', @draft.id if @draft%>
          <%=f.hidden_field :topic_id if @topic%>
          <%=f.hidden_field :id if obj.is_a?(Post) && !obj.new_record?%>
          <%=f.hidden_field :reply_to_pid if obj.is_a? Post%>
          <%=f.hidden_field :reply_to_uid if obj.is_a? Post%>
          <div class="control">
            <%=submit_tag 'Invia'%>
            <span id="draft_saved" style="display: none;"></span>
          </div>
        </div>
      </div>
      <div id="format-commands">
        <div class="label">
          <h3>Formattazione</h3>
        </div>
        <div class="content">
          <ul>
            <li><%=format_button('b', 'bb_bold.gif', 'grassetto')%></li>
            <li><%=format_button('i', 'bb_italicize.gif', 'corsivo')%></li>
            <li><%=format_button('u', 'bb_underline.gif', 'sottolineato')%></li>
            <li><%=format_button('quote', 'bb_quote.gif', 'citazione')%></li>
            <li><%=format_button('img', 'bb_image.gif', 'immagine')%></li>
            <li><%=format_button('list', 'bb_list.gif', 'lista')%></li>
            <li><%=format_button('code', 'bb_code.gif', 'codice')%></li>
          </ul>
        </div>
      </div>
      <div id="smiley_list">
        <div class="label">
          <h3>Faccine</h3>
        </div>
        <div class="content">
          <%=render :partial => '/smileys/list'%>
        </div>
      </div>
    </div>
  <%end%>
  <%=observe_form 'new_message', :frequency => 5, :update => "#{what}_preview", :url => { :controller => :text_preview, :action => :text_to_html }%>
  <%=observe_form 'new_message', :frequency => 10, :update => 'draft_saved', :url => save_draft_new_post_path if obj.is_a?(Post) && obj.new_record?%>
  <%=observe_form 'new_message', :frequency => 10, :update => 'draft_saved', :url => save_draft_new_pm_path if obj.is_a?(Pm) && obj.new_record?%>
</div>
