<%# vim: set ft=eruby nowrap: -%>
<%url = { :controller => :blog, :action => :update }
  remote_form_for blog, :url => url do |f|%>
  <fieldset>
    <div>
      Titolo: <%=f.text_field :name, :value => blog.name%>
    </div>
    <div>
      URL: <%=f.text_field :label, :value => blog.label%>
    </div>
    <div>
      <%=f.text_area :description, :value => blog.description%>
    </div>
    <div>
      <%=f.hidden_field :id, :value => blog.id%>
      <%=submit_to_remote 'save', 'Salva', :url => url,
      :update => domid(blog)%>
    </div>
  </fieldset>
<%end%>
