<%
optional = false unless defined?(optional)
errors   = {}    unless defined?(errors)
-%>
    <fieldset id="user-required">
      <legend>Dati richiesti</legend>
      <dl>
        <dt>Nome utente:</dt>
        <dd><%=f.text_field :username%></dd>
        <dt>e-mail:</dt>
        <dd><%=f.text_field :email%></dd>
      </dl>
      <%unless @new_user.errors.empty?%>
      <div class="errors">
        <strong>Attenzione:</strong>
        <ul>
          <%=content_tag('li', "Il nome utente è già registrato") if @new_user.errors['username'] =~ /taken/%>
          <%=content_tag('li', "Il nome utente non può contenere solo numeri") if @new_user.errors['username'] =~ /numeric/%>
          <%=content_tag('li', "Il nome utente non può iniziare con uno spazio") if @new_user.errors['username'] =~ /begin with a space/%>
          <%=content_tag('li', "L'indirizzo e-mail non è valido") if @new_user.errors['email'] =~ /invalid/%>
          <%=content_tag('li', "L'indirizzo e-mail è già registrato") if @new_user.errors['email'] =~ /taken/%>
        </ul>
      </div>
      <%end%>
    </fieldset>

    <%if optional%>
    <fieldset id="user-optional">
      <legend>Dati facoltativi</legend>
      <dl>
        <dt>Homepage:</dt>
        <dd><%=f.text_field :site%></dd>
        <dt>MSN:</dt>
        <dd><%=f.text_field :msn%></dd>
        <dt>ICQ:</dt>
        <dd><%=f.text_field :icq%></dd>
        <dt>AIM:</dt>
        <dd><%=f.text_field :aim%></dd>
        <dt>Yahoo:</dt>
        <dd><%=f.text_field :yahoo%></dd>
        <dt>Facoltà:</dt>
        <dd><%=f.text_field :location%></dd>
        <dt>Data di nascita:</dt>
        <dd>xxx</dd>
        <dt>Bio:</dt>
        <dd><%=f.text_area :bio%></dd>
        <dt>Firma:</dt>
        <dd><%=f.text_area :sig%></dd>
        <dt>URL dell'Avatar:</dt>
        <dd><%=f.text_field :avatar%></dd>
        <dt>Discussioni per pagina:</dt>
        <dd><%=f.text_field :tpp%></dd>
        <dt>Messaggi per pagina:</dt>
        <dd><%=f.text_field :ppp%></dd>
      </dl>
    </fieldset>
    <%end%>
