<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="google-site-verification" content="qQosX5ktKe4XdmncnSV2t7AnBzQLUPIj2PLD8Ye6oeQ" />
    <title>
      <%=cleanup(page_title)%>
    </title>
    <%=javascript_include_tag :defaults%>
    <%=render :partial => '/common/stylesheets'%>
  </head>
  <body>
    <%=calendar_date_select_includes nil%>
    <%=fb_connect_javascript_tag%>
    <%#init_fb_connect "XFBML", :app_settings => "{reloadIfSessionStateChanged: true}"%>
    <%=init_fb_connect "XFBML"%>
    <%#render :partial => '/common/flashes'%><%#XXX%>
    <%=yield%>
    <%=render :partial => '/common/google_analytics'%>
  </body>
</html>
