<%
# vim: set ft=eruby nowrap:
lfu = @legacy_forum_uri
%><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="SHORTCUT ICON" href="http://asb.studentibicocca.it/images/favicon.ico" />
    <%=render :partial => '/common/stylesheets'%>
    <%=javascript_include_tag :defaults%>
    <script type="text/javascript">
    //<![CDATA[
    imgPath = new Array;
    SiClickGoTo = new Array;
    version = navigator.appVersion.substring(0,1);
    if (version >= 3) {
      i0 = new Image;
      i0.src = 'http://www.publinews.it/bicoccaperlapace/bicoccaperlapace.jpg';
      SiClickGoTo[0] = "http://asb.studentibicocca.it/pace/";
      imgPath[0] = i0.src;
      i1 = new Image;
      i1.src = 'http://asb.studentibicocca.it/export/menu/img-menu/counseling.png';
      SiClickGoTo[1] = "http://asb.studentibicocca.it/counseling.php";
      imgPath[1] = i1.src;
      i2 = new Image;
      i2.src = 'http://asb.studentibicocca.it/export/menu/img-menu/concorsofoto.jpg';
      SiClickGoTo[2] = "http://concorsofoto.studentibicocca.it";
      imgPath[2] = i2.src;
      i3 = new Image;
      i3.src = 'http://asb.studentibicocca.it/export/menu/img-menu/conferenze.jpg';
      SiClickGoTo[3] = "http://asb.studentibicocca.it/conferenze.php";
      imgPath[3] = i3.src;
      i4 = new Image;
      i4.src = 'http://asb.studentibicocca.it/export/menu/img-menu/aperitivo.jpg';
      SiClickGoTo[4] = "http://asb.studentibicocca.it/socializzazione.php";
      imgPath[4] = i4.src;
      i5 = new Image;
      i5.src = 'http://asb.studentibicocca.it/export/menu/img-menu/festeinbicocca.jpg';
      SiClickGoTo[5] = "http://feste.studentibicocca.it";
      imgPath[5] = i5.src;
      i6 = new Image;
      i6.src = 'http://asb.studentibicocca.it/export/menu/img-menu/cineforumbicocca.gif';
      SiClickGoTo[6] = "http://cineforum.studentibicocca.it";
      imgPath[6] = i6.src;
    }
    a = 0;
    function StartAnim() {
      if (version >= 3) {
        document.write('<A HREF="#" onClick="ImgDest();return(false)"><IMG SRC="01.gif" BORDER=0 ALT="immagine" NAME=defil><\/A>');
        defilimg()
      }
      else {
        document.write('<A HREF="http://www.html.it"><IMG SRC="01.gif" BORDER=0><\/A>')
      }
    }

    function ImgDest() {
      document.location.href = SiClickGoTo[a-1];
    }

    function defilimg() {
      if (a == 6) {
        a = 0;
      }
      if (version >= 3) {
        document.defil.src = imgPath[a];
        tempo3 = setTimeout("defilimg()",5000);
        a++;
      }
    }
    //]]>
    </script>
    <title>
      <%=@page_title || "Forum degli Studenti della Bicocca"%>
    </title>
  </head>
  <body>
    <div id="topmenu">
      <table width="97%" align="center">
        <tr>
          <td align="center">
            <a href="http://asb.studentibicocca.it"><img border="0" src="http://asb.studentibicocca.it/export/menu/img-menu/banner-asb2.png" width="200" height="60" alt="Sito Associazion Studenti Bicocca" /></a>
            <script type="text/javascript">
            //<![CDATA[
            StartAnim();
            //]]>
            </script>
            <a href="http://materiali.studentibicocca.it"><img border="0" src="http://asb.studentibicocca.it/export/menu/img-menu/appunti.png" width="40" height="60" alt="Appunti grauiti" /></a>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <script src="http://www.studentibicocca.it/portale/include/bannerad3.js" type="text/javascript">
      </script>
      <script type="text/javascript">
      //<![CDATA[
      /* {{{1 */
      function Popup(url, window_name, window_width, window_height) 
      { settings= 
      "toolbar=no,location=no,directories=no,"+ 
      "status=no,menubar=no,scrollbars=yes,"+ 
      "resizable=yes,width="+window_width+",height="+window_height; 

      NewWindow=window.open(url,window_name,settings); }

      function icon(theicon) { 
      document.input.message.value += ""+theicon; 
      document.input.message.focus(); 
      } 
      /* }}}1 */ 
      //]]>
      </script>
      <table cellspacing="0" cellpadding="0" border="0" width="97%" align="center" class="themed">
        <tr>
          <td>
            <table border="0" cellspacing="1" cellpadding="6" width="100%">
              <tr>
                <td width="100%" class="top">
                  <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <font style="font-size: 10px; font-family: arial, verdana">
                          Forum degli Studenti della Bicocca
                          <br />
                        </font>
                      </td>
                    </tr>
                    <tr>
                      <td class="navtd">
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tr>
                            <td class="navtd">
                              &nbsp;
                              <a href="<%=lfu%>/usercp.php"><span class="navtd">Profilo</span></a> |
                              <a href="<%=lfu%>/misc.php?action=search"><span class="navtd">Cerca</span></a> |
                              <a href="<%=lfu%>/usercp.php?action=u2u"><span class="navtd">Messaggi privati</span></a> 
                            </td>
                            <td align="right">
                              <a href="/"><span class="navtd">Torna a STUDENTIBICOCCA.it</span></a>
                            </td>
                            <td>
                              &nbsp;
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <div id="main">
      <div id="blogs">
        <div id="content_box">
          <div class="breadcrumbs">
            <%=page_trail%>
          </div>
          <%=yield%>
          <div class="breadcrumbs_bottom">
            <%=page_trail%>
          </div>
          <%=render :partial => '/user/online'%>
        </div>
      </div>
    </div>
    <%#
    <script src="http://www.google-analytics.com/urchin.js"
            type="text/javascript">
    </script>
    <script type="text/javascript">
      _uacct = "UA-2831123-5";
      urchinTracker();
    </script>
    %>
    <script type="text/javascript" src="http://www.savethedevelopers.org/js/lang/it/say.no.to.ie.6.js"></script>
  </body>
</html>
