<%
lfu = @legacy_forum_uri
t   = @opts[:theme]
%><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="SHORTCUT ICON" href="http://asb.studentibicocca.it/images/favicon.ico" />
    <%=render :partial => '/common/stylesheets'%>
    <%=javascript_include_tag :defaults%>
    <%=render :partial => '/common/annoyances_01'%>
    <title>
      <%=cleanup(@page_title) || "Forum degli Studenti della Bicocca"%>
    </title>
  </head>
  <body>
    <script src="http://www.studentibicocca.it/portale/include/bannerad3.js" type="text/javascript">
    </script>
    <div id="main">
      <div id="forum">
        <div id="content_box">
          <%=render :partial => '/users/login_box'%>
          <%=render :partial => '/common/annoyances_02'%>
          <div class="spacer"></div>
          <%if @location%>
          <div id="breadcrumbs" class="breadcrumbs">
            <%=render :partial => '/common/breadcrumbs'%>
          </div>
          <%end%>
          <%unless cleanup(page_seq).empty?%>
          <div class="page-seq">
            <%=page_seq%>
          </div>
          <%end%>
          <%=yield%>
          <div class="page-seq">
            <%=page_seq%>
          </div>
          <%if @location%>
          <div id="breadcrumbs_bottom" class="breadcrumbs_bottom">
            <%#render :partial => '/common/breadcrumbs'%>
            <%=page_trail%>
          </div>
          <%end%>
          <%=render :partial => '/users/online'%>
        </div>
      </div>
    </div>
    <%=render :partial => '/common/google_analytics'%>
  </body>
</html>
